{% extends '::base.html.twig' %}
{% set selected_nav = 'procuration' %}

{% block body %}
    <div class="page-header">
        <h1>
            Liste des demandes
            <small>{{ pagination.totalItemCount }}</small>
        </h1>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Election</th>
                <th>Date de la demande</th>
                <th>Bureau de l'absent</th>
                <th>Nom de l'absent</th>
                <th class="text-center">Remplaçant choisi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for procuration in pagination if pagination|length %}
                {% set electionRound = procuration.electionRound %}
                {% set requester = procuration.requester %}
                {% set has_voter = procuration.votingAvailability is not null %}
                {% set requester_office = requester.votingOffice %}
                <tr>
                    <td>{{ electionRound.election }} ({{ electionRound.performanceDate|localizeddate(timeFormat='none') }})</td>
                    <td>{{ procuration.createdAt|localizeddate(timeFormat='none') }}</td>
                    <td>{{ requester_office }} ({{ requester_office.address.postalCode }} {{ requester_office.address.city }})</td>
                    <td>
                        <a class="btn btn-xs btn-info" href="tel:{{ requester.phoneNumber|phone_number_format }}" data-toggle="tooltip" title="{{ requester.phoneNumber|phone_number_format }}">
                            <span class="glyphicon glyphicon-phone-alt"></span>
                        </a>
                        {{ requester }}
                    </td>
                    <td>
                        {% if has_voter %}
                            {% set voter = procuration.votingAvailability.voter %}
                            <a class="btn btn-xs btn-info" href="tel:{{ voter.phoneNumber|phone_number_format }}" data-toggle="tooltip" title="{{ voter.phoneNumber|phone_number_format }}">
                                <span class="glyphicon glyphicon-phone-alt"></span>
                            </a>
                            {{ voter }}
                        {% else %}
                            {% set form = procuration_assignation_form(procuration) %}
                            {% if form.votingAvailability.vars.choices|length %}
                                <form method="post" action="{{ path('procuration_assign', {'id': procuration.id}) }}" class="form-inline procuration-assignation">
                                    {{ form_errors(form) }}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>
                                                {{ form_widget(form.votingAvailability) }}
                                                {{ form_errors(form.votingAvailability) }}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            {{ form_rest(form) }}
                                            <button type="submit" class="btn btn-xs btn-success text-uppercase">Mettre en relation</button>
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <i>Aucun représentant disponible</i>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <div class="btn-group btn-group-xs">
                            {% if has_voter %}
                                <a href="{{ path('procuration_download', {'id': procuration.id}) }}" class="btn btn-info" title="Télécharger le CERFA" target="_blank">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </a>
                                <a href="{{ path('procuration_unbind', {'id': procuration.id}) }}" class="unbind-procuration btn btn-warning" data-requester="{{ requester }}" data-voter="{{ procuration.votingAvailability.voter }}" data-election-date="{{ electionRound.performanceDate|localizeddate(timeFormat='none') }}" title="Annuler le choix du remplaçant">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                </a>
                            {% else %}
                                <a href="{{ path('procuration_delete', {'id': procuration.id}) }}" class="delete-procuration btn btn-danger" data-redirect-url="{{ path('procuration_index') }}" title="Supprimer la demande de procuration">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">Aucune demande</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            // Ask confirmation to delete possible entries
            $("a.delete-procuration").click(function(e) {
                e.preventDefault();
                var $this = $(this);

                if ($this.hasClass('disabled')) {
                    return false;
                }

                if (!confirm('Etes-vous sûr de vouloir supprimer cette procuration?')) {
                    return false;
                }

                $.ajax({
                    url: $this.attr('href'),
                    method: 'DELETE',
                    beforeSend: function () {
                        $this.addClass('disabled');
                    },
                    success: function() {
                        window.location = $this.data('redirect-url');
                    },
                    complete: function() {
                        $this.removeClass('disabled');
                    }
                });
            });

            $("a.unbind-procuration").click(function() {
                var $this = $(this);

                if (!confirm('Voulez-vous annuler le mandat entre '+$this.data('requester')+' et '+$this.data('voter')+' du '+$this.data('election-date')+'?')) {
                    return false;
                }
            });

            // Ensure form is validated before submission
            $("form.procuration-assignation").submit(function() {
                if (!confirm('Je suis certain que le mandataire est au courant?')) {
                    return false;
                }
            });
        });
    </script>
{% endblock %}