{% set is_super_admin = is_granted('ROLE_SUPER_ADMIN') %}
{% set is_admin = is_granted('ROLE_ADMIN') %}
{% if form is defined %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Procuration-Macron.fr{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/enmarche.css') }}">
        {% block stylesheets %}{% endblock %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body{% if is_super_admin or is_admin %} class="has-nav"{% endif %}>
        {% block navbar %}
            {% if is_super_admin or is_admin %}
                <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path('homepage') }}">Procuration-Macron.fr</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li{% if selected_nav|default('') == 'procuration' %} class="active"{% endif %}><a href="{{ path('procuration_index') }}">Demandes</a></li>
                                <li{% if selected_nav|default('') == 'voter' %} class="active"{% endif %}><a href="{{ path('voting_availability_index') }}">Remplaçants</a></li>
                                <li{% if selected_nav|default('') == 'office' %} class="active"{% endif %}><a href="{{ path('office_index') }}">Bureaux de vote</a></li>
                                <li{% if selected_nav|default('') == 'voter-invitation' %} class="active"{% endif %}><a href="{{ path('voter-invitation_index') }}">Appel aux mandataires</a></li>
                                <li{% if selected_nav|default('') == 'user' %} class="active"{% endif %}><a href="{{ path('user_index') }}">Utilisateurs</a></li>
                                {% if is_super_admin %}
                                    <li{% if selected_nav|default('') == 'election_round' %} class="active"{% endif %}><a href="{{ path('election_round_index') }}">Elections</a></li>
                                {% endif %}
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <span class="glyphicon glyphicon-off"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="navbar-text navbar-right">Bonjour {{ app.user.firstName }}</p>
                        </div>
                    </div>
                </nav>
            {% endif %}
        {% endblock %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
