{% extends 'default/_form_step.html.twig' %}
{% set form_path = path('subscribe_my_address') %}


{% block step_body %}
    <p class="text-medium center">Mon adresse</p>
    <div class="form-group">
        <p class="form-text">Je suis domicilié au</p>
        <div class="form-inputs-address">
            {{ form_widget(form.streetNumber, {'attr': {'class': 'form-input form-input--number', 'placeholder': 'N°'}}) }}
            {{ form_widget(form.streetRepeater, {'attr': {'class': 'form-input form-input--bis'}}) }}
            {{ form_widget(form.streetType, {'attr': {'class': 'form-input form-input--street'}}) }}
            {{ form_widget(form.streetName, {'attr': {'class': 'form-input form-input--road', 'placeholder': 'Nom de la voie'}}) }}
            {{ form_widget(form.postalCode, {'attr': {'class': 'form-input form-input--zipcode', 'placeholder': 'Code postal'}}) }}
            {{ form_widget(form.city, {'attr': {'class': 'form-input form-input--city', 'placeholder': 'Commune'}}) }}
            {{ form_widget(form.countryCode, {'attr': {'class': 'form-input form-input--country'}}) }}
            {{ form_rest(form) }}
        </div>
    </div>
{% endblock %}
