<fieldset>
    {{ form_row(form.civility) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.birthDate) }}
</fieldset>
<fieldset>
    <div class="page-header">
        <h2>Adresse</h2>
    </div>
    {{ form_row(form.address.streetNumber) }}
    {{ form_row(form.address.streetRepeater) }}
    {{ form_row(form.address.streetType) }}
    {{ form_row(form.address.streetName) }}
    {{ form_row(form.address.countryCode, {'label': 'Pays'}) }}
    {{ form_row(form.address.postalCode, {'attr': {'class': 'city-autocomplete'}, 'label': 'Code postal'}) }}
    {{ form_row(form.address.cityName, {'attr': {'class': 'city-autocomplete-city-name'}, 'label': 'Ville'}) }}
    {#{{ form_row(form.votingOffice) }}#}
</fieldset>

<fieldset>
    {% if form.officesInCharge is defined %}
        {{ form_row(form.officesInCharge) }}
    {% endif %}
</fieldset>

<fieldset>
    {% if form.superAdmin is defined %}
        {{ form_row(form.superAdmin) }}
    {% endif %}
    {% if form.enabled is defined %}
        {{ form_row(form.enabled) }}
    {% endif %}
</fieldset>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        {{ form_row(form.address.inseeCityCode, {'attr': {'class': 'city-autocomplete-insee-code'}}) }}
        {{ form_rest(form) }}
        <input type="submit" class="btn btn-primary">
        <a class="btn btn-link" href="{{ path('user_index') }}">Retour</a>
    </div>
</div>
