{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Ajouter une nouvelle élection</h1>
    </div>
    <form method="post" action="{{ path('election_new') }}" class="form-horizontal">
        {{ form_row(form.label) }}
        {{ form_row(form.performanceDate) }}
        {{ form_row(form.active) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-success">
                <a href="{{ path('election_index') }}" class="btn btn-danger">Annuler</a>
                {{ form_rest(form) }}
            </div>
        </div>
    </form>
{% endblock %}